.Thinking {
  
  > .Main { padding-top: 18px; padding-bottom: 18px }
  
  &__title, &__sidetitle { @include light }
  &__title {
    margin: 0 0 24px;
    font-size: 28px;
  }
  &__sidetitle {
    margin: 0 0 16px;
    font-size: 20px;
  }
  &__subtitle {
    margin: 0;
    font-size: 24px;
  }
  
  .Feed { height: calc(100vh - #{$Header__height--desktop} - 48px) }
  .Blog {
    padding-bottom: 34px;
    display: flex
  }
  .Content {
    flex-grow: 1;
  }
  .Sidebar {
    width: 280px;
    margin-left: 30px;
    padding: 0 0 0 30px;
    border-left: solid 1px $Color__grey--lightest;
    flex-shrink: 0;
    flex-direction: column;
    display: flex;
    &__item {
      margin: 0 0 6px;
      &:last-child {
        margin: 0;
      }
    }
    &__post {
      height: 140px;
      margin: 0 0 18px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      display: block
    }
    section {
      margin: 0 0 20px;
      padding: 0 0 18px;
      border-bottom: solid 1px $Color__grey--lightest;
      font-size: 14px;
      overflow: hidden;
      &:last-child {
        margin: 0;
        padding: 0; 
        border: 0
      }
    }
  }
  
  .Article {
    margin: 0 0 34px;
    padding: 0 0 34px;
    border-bottom: solid 1px $Color__grey--lightest;
    display: flex;
    &__image {
      width: 280px;
      height: 280px;
      margin-right: 30px;
      flex-shrink: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    &__body {
      flex-grow: 1;
    }
    &__author {
      margin: 0 0 16px;
      color: $Color__grey--darker;
      font-size: 14px;
    }
    &__summary { margin: 0 }
    &:lst-child {
      margin: 0;
      padding: 0;
      border: 0;
    }
  }
  
  //
  // Show
  // 
  
  .Author {
    margin: 0 0 24px;
    color: $Color__grey--darker;
    font-size: 14px;
    display: flex;
    position: relative;
    &__avatar {
      width: 50px;
      height: 50px;
      margin-right: 12px;
      border-radius: 50%;
    }
    &__details, &__date { padding: 4px 0 0 }
    &__details { flex-grow: 1 }
    &__date {
      right: 0;
      top: 0;
      position: absolute;
    }
  }
  
  .Show {
    &__image {
      width: 100%;
      margin: 0 0 24px;
      display: block
    }
    &__links {
      margin: 0 0 24px;
      align-items: center;
      display: flex
    }
    &__share {
      align-items: center;
      display: flex;
      flex-grow: 1;
      .stArrow { display: none !important }
    }
    &__link {
      flex-grow: 0;
      a {
        text-decoration: none !important;
        align-items: center;
        display: flex
      }
    }
  }
  
}

//
// Responsive
// 
@include respond(all-devices) {
  .Thinking {
    .Blog { flex-direction: column }
    .Content, .Sidebar {
      width: auto;
      margin: 0;
      padding: 0;
      border: 0;
    }
    .Content { margin-bottom: 24px }
    .Sidebar {
      padding: 18px;
      background: #f1f1f1;
      section { order: 2 }
      &--categories { order: 0 !important }
      &--recent {
        margin: 0 0 20px !important;
        padding: 0 0 18px !important;
        order: 1 !important;
        border-bottom: solid 1px $Color__grey--lightest !important
      }
    }
  }
}
@include respond(all-phones) {
  .Thinking {
    &__subtitle { font-size: 20px }
    .Feed { height: calc(100vh - #{$Header__height--mobile}) }
    .Article {
      &__image {
        width: 200px;
        height: 200px;
      }
    }
  }
}
@include respond(phone-portrait) {
  .Thinking {
    .Article {
      flex-direction: column;
      &__image {
        width: 100%;
        height: 180px;
        margin: 0 0 12px;
      }
    }
    .Author {
      &__date { top: -24px }
    }
    .Show {
      &__links {
        flex-direction: column;
      }
      &__share { margin: 0 0 8px }
    }
  }
}