$Button__default--height: 45px;

.Button {
  @include regular;
  transition: all .3s;
  height: $Button__default--height;
  margin: 0;
  padding: 0 26px;
  border: 0 ;
  background: $Color__black--darkest;
  color: #fff !important;
  text-align: center;
  text-decoration: none !important;
  line-height: $Button__default--height;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
  user-select: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  &:hover {
    background: blue
  }
  
  // Colours
  &--box, &--box-invert {
    background: transparent;
    border-radius: 4px;
    line-height: #{$Button__default--height - 2};
    opacity: .5;
    &:hover {
      background: transparent;
      opacity: .8
    }
  }
  &--box {
    color: #fff !important;
    border: solid 1px #fff;
  }
  &--box-invert {
    color: #000 !important;
    border: solid 1px $Color__black--darkest;
  }
  
}

button.Button, input.Button { line-height: normal !important }

//
// Responsive
// 
