$Button__default--height: 55px;

.Button {
  @include regular;
  transition: background .2s;
  height: $Button__default--height;
  margin: 0;
  padding: 0 26px;
  border: 0 ;
  background: red;
  color: #000 !important;
  text-align: center;
  text-decoration: none !important;
  line-height: $Button__default--height;
  font-size: 18px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
  user-select: none;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  &:hover {
    background: blue
  }
}

button.Button, input.Button { line-height: normal !important }

//
// Responsive
// 
