// Placeholders
::-webkit-input-placeholder {color: $Color__placeholder }
:-moz-placeholder { color: $Color__placeholder }
::-moz-placeholder { color: $Color__placeholder }
:-ms-input-placeholder { color: $Color__placeholder }

// Fixes
input:focus, select:focus, textarea:focus, button:focus { outline: none }
::-ms-clear { display: none }

// Elements
.Form {
  &__element {
    @include light;
    padding: 12px;
    font-size: 20px;
    border: solid 2px #fff;
    background: #fff;
    appearance: none;
    border-radius: 0;
    &:focus { border-color: $Color__orange__brand }
  }
}

// Styling
.Form {
  &__row {
    margin: 0 0 24px;
    align-items: center;
    display: flex;
    &--top { align-items: flex-start }
    &--buttons { padding-left: 25% }
  }
  &__label {
    flex-basis: 25%;
    flex-shrink: 0;
    font-size: 20px
  }
  &__element {
    flex-grow: 1;
    &--errored {
      border-color: #cc0000
    }
    &--file {
      font-size: 14px;
      color: #000 !important;
      align-items: center;
      display: flex;
    }
  }
  &__errors, &__success {
    @include bold;
    margin: 0 0 24px;
    padding: 12px;
    color: #fff;
    text-align: center;
    font-size: 14px
  }
  &__errors {
    border: solid 2px #cc0000;
    background: rgba(#cc0000, .7);
  }
  &__success {
    border: solid 2px #049801;
    background: rgba(#049801, .7);
  }
}

// 
// Responsive
// 
@include respond(all-phones) {
  .Form {
    &__label { display: none }
    &__row--buttons {
      padding: 0;
      text-align: center;
      button { margin: 0 auto; display: block }
    }
  }
}