a, a:visited {
  transition: color .2s;
  color: $Color__black--darkest;
  text-decoration: underline;
  &:hover {
    color: $Color__orange--brand;
    text-decoration: none
  }
}

a.inverse, a.inverse:visited {
  transition: color .2s;
  color: $Color__orange--brand;
  text-decoration: none;
  &:hover {
    color: $Color__black--darkest;
  }
}