/**
 * Paging
 */
.Paging {
  margin-top: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  &__prev, &__next {
    .Paging__link {
      border: 0;
      &:hover {
        background: none;
        color: #fff
      }
    }
    .material-icons {line-height: normal }
  }
  &__page {
    margin: 0 8px;
  }
  &__link {
    transition: color .2s, background .2s;
    min-width: 30px;
    height: 30px;
    padding: 0 12px;
    border: solid 1px #fff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    display: block;
    &:hover {
      background: #fff;
      color: $Color__black--darkest;
    }
  }
  &--inverse {
    .Paging__link {
      background: $Color__black--darkest;
      color: #fff !important
    }
    .Paging__prev, .Paging__next {
      .Paging__link {
        background: none !important;
        color: $Color__black--darkest !important;
      }
    }
  }
}

//
// Responsive
// 
@include respond(all-phones) {
  .Paging__page { display: none }
}