.Tags {
  align-items: center;
  flex-wrap: wrap;
  display: flex
}
.Tag {
  margin: 0 6px 6px 0;
  &:last-child { margin-right: 0 }
  &__link {
    @include light;
    transition: background .2s;
    padding: 4px 12px 4px 8px;
    background: $Color__black--darkest;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 12px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
    .material-icons { margin-right: 6px }
    &:hover { background: $Color__orange--brand }
  }
}

//
// Responsive
// 
@include respond(phone-portrait) {
  .Tags {
    justify-content: space-between
  }
  .Tag { margin-right: 0 !important }
}