// Set all elements to border-box sizing
*, :before, :after { box-sizing: border-box }

// Html fixes, mobile mainly
html { -webkit-tap-highlight-color: transparent }

// Body base, font and colours that will be inherited
body {
  background: $Color__body--background;
  color: $Color__body--text;
  font-family: $Font__base--family;
  font-size: $Font__base--size;
  font-weight: $Font__base--weight;
  line-height: $Font__base--line-height;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position: relative;
  @include respond(all-phones) {
    width: 100%;
    min-width: 0;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
  }
}

// Enforce webkit to have a transparent bg on print
input:-webkit-autofill { background-color: transparent !important }

// Text selection
::selection {
  background: $Color__selection--background;
  color: $Color__selection--text;
  text-shadow: none
}
q { quotes: "“" "”" "‘" "’" }

// Wrapper
.Header, .Main, .Sub, .Footer { padding-left: 18px; padding-right: 18px }
.Wrapper {
  width: 100%;
  max-width: $Reponsive__desktop--min;
  margin: 0 auto;
}