/**
 * Colours
 */
// Blacks
$Color__black--darkest: #181818;
$Color__black--darker: #333;
$Color__black--lightest: #555;

// Oranges
$Color__orange__brand: #ed4b14;

// Blues
$Color__blue--thinmartian: #222E46;

// Reds
$Color__red--error: #f17373;

// Greys
$Color__grey--darker: #6b6b6b;
$Color__grey--medium: #d3d3d3;
$Color__grey--lightest: #e1e1e1;

// Status
$Color__status--live: #18c202;
$Color__status--hidden: #b1b1b1;
$Color__status--pending: #e2922b;

// Config
$Color__body--background: #fff;
$Color__body--text: $Color__black--darkest;
$Color__text--muted: $Color__grey--medium;
$Color__selection--background: $Color__black--darkest;
$Color__selection--text: #fff;
$Color__placeholder: $Color__text--muted;

/**
 * Dimensions and sizing
 */
$Header__height--desktop: 60px;
$Header__height--mobile: 50px;
$Primary__width--mobile: 200px;

/**
 * Typography
 */
$Font__base--family: 'Montserrat', sans-serif;
$Font__base--mono: 'Droid Sans Mono';
$Font__base--size: 16px;
$Font__base--weight: 300;
$Font__base--line-height: 1.56;

/*
 * Responsive
 */
$Reponsive__desktop--min: 1170px; // wrapper
$Reponsive__tablet-landscape--min: 1024px;
$Reponsive__tablet-portrait--min: 768px;
$Reponsive__tablet-portrait--max: ($Reponsive__tablet-landscape--min - 1); // 1023px
$Reponsive__phone-landscape--min: 480px;
$Reponsive__phone-landscape--max: ($Reponsive__tablet-portrait--min - 1); // 767px
$Reponsive__phone-portrait--max: ($Reponsive__phone-landscape--min - 1); // 479px

/*
 * Strings and settings
 */
$Path__cdn: "https://fp-customer-codegent.s3.amazonaws.com/www/";